/*Reset CSS Styles

footer {
    position: relative;
    background-color: rgb(75, 157, 97);
    color: rgb(255,255,255);
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}

.table-footer {
    display: block;
    padding-top: 2em;
    width: 80%;
    margin: auto;
    table-layout: fixed;
    text-transform: uppercase;
}
.table-footer thead {
    text-align: left;
}
.table-footer tr td:nth-child(1) {
    width:23%;
  }
.table-footer tr td:nth-child(2) {
    width:34%;
  }  
.table-footer tr td:nth-child(3) {
    width:18%;
  }  

.table-footer thead tr td {

}
.table-footer tbody tr td {
}
#footer-email-input {
    font-size: 1.2em;
    width: 101%;
    font-family: 'Roboto', sans-serif;
    border-color: rgb(255,255,255);
}
#footer-email-button {
    font-size: 1.2em;
    width: 104%;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(195, 224, 203);
    border-color: rgb(255,255,255);
}
.social-media-container {
    display: block;
    text-align: center;
    padding-top: 1.2em;
}

.social-media-icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 10px;
}


footer {
    position: relative;
    color: rgb(98, 100, 99);
    color: #ffffff;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    background-color: rgb(195, 224, 203);
    background-color: #3d9e56;
}

.table-footer-container {
    display: flex;
    justify-content: center;
}

.table-footer {
    padding-top: 1.4rem;
    width: 70%;
    margin: auto;
    table-layout: fixed;
    text-transform: uppercase;
}
.table-footer thead {
    text-align: left;
}

#footer-email-input {
    border: none;
    font-size: 1.2rem;
    width: 101%;
    font-family: 'Roboto', sans-serif;
    border-color: rgb(255,255,255);
}

#footer-email-button {
    border: none;
    font-size: 1.1em;
    color: white;
    width: 104%;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(138, 138, 138);
    border: 1px solid rgb(98, 100, 99);
 }

.social-media-container {
    display: block;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
}

*/

.footer-container {
    width: 100%;
    position: fixed;
    bottom:0;
    border-top: 1px solid #a9a9a9;
    height: 50px;
    background-color: #ffffff;

}
.table-footer {
    display: none;
}

.social-media {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}


.social-media-icon {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 5px;
}


@media only screen and (min-width: 916px) {

    .social-media-icon {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin: 10px;
    }
}

