/*Reset CSS Styles
header {
    position: relative;
    background-color: rgb(75, 157, 97);
    color: rgb(255,255,255);
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.header-menu li a {
    font-size: 1.4em;
    color: rgb(255,255,255);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px 20px 2px;
    margin: 50px 20px 12px 0px;   
header {
    position: relative;
    color: rgb(98, 100, 99);
    background-color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#header-logo {
    margin: 0;
    padding: 0;
    width: 20vw;
    height: auto;
    align-self: flex;
}
.header-menu {
    display: inline-flex;
}

.header-menu li:last-of-type {
    border-right: none;
    }


.nav-items-wrapper {
    float: right;
    margin: 10px;
    line-height: .5rem;
    display: inline-flex;
    
}
.header-menu li {
   list-style-type: none; 
   display: inline-flex;
   border-right: 1px solid #000000;
   align-self: flex-end;
   }

.header-menu li a {
    font-size: 1.2rem;
    color: rgb(70, 72, 77);
    color: rgb(98, 100, 99);
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px; 
}


ul li a:visited, u li a:hover {
    text-decoration: none;
}
}

*/


header {
    /* order: 0; */
    height: 98px;
    width: 100vw;
    /* overflow: wrap; */
    /* display: flex; */
    position: fixed;
    border-bottom: 1.5px solid #a9a9a9;
    /* justify-content: center; */
    z-index: 80;
    background: #3d9e56;
}


.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: wrap;
    width: 100vw;
    height: 100%;
}


#header-logo {
    max-width: 199px;
    width: 100px;
    height: auto;
    margin-left: 15px;
    margin-top:5px;
    flex: 2 1 100px;
}

.hamburger {
    display: flex;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    transform-origin: 6px 1px;
    margin-right: 15px;
    margin-bottom: 4px;
    flex: 2 1 30px;
    transition: all 150ms ease-in-out 0s;
}

.hamburger:last-of-type {
    margin-bottom: none;
}

 .open span:first-child {
    transform: rotate(45deg);
}
 .open span:nth-child(2) {
    opacity: 0;
}

 .open span:last-child {
    transform: rotate(-45deg);
}

.overlay {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: black;
    opacity:.5;
    transition: all 150ms ease-in-out 0s;
}


.display-nav-for-mobile {
    position: fixed;
    margin: 0 auto;
    top: 99px;
    /* width: 80vw; */
    width: 100%;
    background: #ffffff;
    z-index: 5;
    display: flex;
    flex-flow: column wrap; 
    overflow: wrap;
    /* border-radius: 2%; */
    transition: all 500ms ease-in-out 0s;
}


.nav-items-container a {
    display: flex;
    width: 100%;
    list-style-type: none; 
    text-transform: uppercase;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
    margin: 0;
    text-decoration: none;
    color: #000000;
}

.nav-items-container a:first-child {
    padding-top: 20px;
}

/* .nav-items-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: 1px solid black;
} */

/* 
@media only screen and (min-width: 901px) {
    .hamburger {
        display: none;
    }
    .header-menu {
        display: inline-flex;
    }

    .nav-items-container {
        display: flex;
    }
} */

/* Breakpoints */
/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}
*/

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}
*/


/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 916px) {
    .header-menu {
        align-items: baseline;
    }
    #header-logo {
        min-width: 200px;
    }

    .nav-toggle-bar {
        display: none;
    }

    .nav-items-wrapper {
        margin: 5px;
    }
    
    .nav-items-wrapper li {
        list-style-type: none; 
        display: inline-flex;
        border-right: 1px solid #000000;
        line-height: 0.5;
    }
    .header-menu li a {
        color: rgb(70, 72, 77);
        color: rgb(98, 100, 99);
        text-decoration: none;
        text-transform: uppercase;
        margin: 10px;
    }
    
    .header-menu li:last-of-type {
        border-right: none;
        }
    
    .nav-items-wrapper li a:visited, .nav-items-wrapper li a:hover {
        text-decoration: none;
    }

} */

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}
*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...}


@media (min-width: 64em) {

} */

/* Visibility
.hide-for-mobile {
    
}
.hide-for-desktop {
    
}
 */
/* 
.header-menu {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0 15px 0 15px;
}

#header-logo {
    max-width: 300px;
    width: 200px;
    height: auto;
    transform: translateY(5px);
}

.nav-items-wrapper {
    margin: 5px;
}

.nav-items-wrapper li {
    list-style-type: none; 
    display: inline-flex;
    border-right: 1px solid #000000;
    line-height: .5;
}
 
.header-menu li a {
    color: rgb(70, 72, 77);
    color: rgb(98, 100, 99);
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
}

.header-menu li:last-of-type {
    border-right: none;
    }

.nav-items-wrapper li a:visited, .nav-items-wrapper li a:hover {
    text-decoration: none;
}
 */

/* @media (max-width: 800px) {
    .nav-toggle {
        visibility: visible;
        height: 60px;
        width: 60px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav-toggle-bar {
        position: absolute;
        top: 40px;
        visibility: visible;
        height: 2px;
        width: 30px;
        padding: 0;
        background-color: black;
        display: inline;
    }
    .nav-toggle-bar:before {
        content: "";
        background-color: black;
        position: absolute;
        top: -10px;
        height: 2px;
        width: 100%;
    }
    .nav-toggle-bar:after {
        content: "";
        background-color: black;
        position: absolute;
        height: 2px;
        width: 100%;
        top: 10px;
    }

    .nav-toggle-bar:active, .nav-toggle-bar:active.nav-toggle-bar:before, .nav-toggle-bar:active.nav-toggle-bar:after {
        background-color:rgb(209, 110, 206);
    }
    
    .nav-items-wrapper {
        display: none;
    }
    .nav-items-wrapper.dropdown {
        display: flex;
        flex-flow: column wrap;
        position: relative;
        z-index: 4;
        transform: translate(0, 80px);
        background-color: rgb(94, 94, 94);
    }

    .nav-link { 
        padding: 0;
        margin: 10px;
    }
} */