/*Reset CSS Styles

#code-of-conduct ul {
    list-style-type: '-';
    text-align: left;
} */

.policy-title {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    /* border-bottom: 1px solid #3d9e56; */
    /* font-size: inherit; */
}

.policy-title:first-child {
    margin-top: 10px;
}

.policy-content {
    text-align: center;
    /* font-size: inherit; */

}
.policy-content-container{
    /* display: block; */
    text-align: justify;
}

.policy-content-end {
    /* font-size: inherit; */
}
.policy-content-middle {
    white-space: pre-line;
    margin: 5px;
    /* font-size: inherit; */
}
/* 
.showdropdown > .policy-content-container {
    display: block;
} */

.hide-for-mobile {
    display: none;
}