
.weekly-ad {
    max-width: 95vw;
    display: block;
    margin: auto;
    padding-top: 20px;
    height: auto;
}

#weekly-ad-title, #weekly-ad-subtitle {
    padding-top: 30px;
    text-align: center;
}

@media only screen and (min-width: 901px) {
    #weekly-ad-title {
        margin: 0 0 20px 0;
        padding: 30px;
        color: #ffffff;
        background: #3d9e55c7;
        background: #3d9e56;
    }
    .weekly-ad {
        max-width: 70vw;
        margin: auto;
        padding-bottom: 20px;
    
    }
}
